BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Inline
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
IndentCaseLabels: false
IncludeBlocks: Preserve
NamespaceIndentation: None
