[submodule "vendor/di"]
	path = Mogwai2D/vendor/di
	url = https://github.com/boost-experimental/di.git
[submodule "vendor/spdlog"]
	path = Mogwai2D/vendor/spdlog
	url = git@github.com:gabime/spdlog.git

